@model LaPadellaELaBeaceMVC.Models.Promo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Promo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.Raw(Model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attiva)
        </dd>

    </dl>
    <hr />
    <h3>
        @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left text-success", @Title = "Torma" })
        @Html.ActionLink(" ", "Edit", new { id = Model.Promo_Id }, new { @class = "glyphicon glyphicon-pencil text-primary", @title = "Modifica" })


    </h3>
</div>
